<div class="columns mb-5 is-align-content-center">
  <div class="column">
    <code class="is-size-5"><%= team.number %></code> <%= link_to icon('edit'), edit_team_path(team) %><br>
    <%= team.name %>
  </div>
  <div class="column">
    <%= render 'scores/score', score: team.round1 %>
  </div>
  <div class="column">
    <%= render 'scores/score', score: team.round2 %>
  </div>
  <div class="column">
    <%= render 'scores/score', score: team.round3 %>
  </div>
</div>