
<main>
  <h1>Teams</h1>

  <div id="teams" class="overflowable">
    <% @teams.each do |team| %>
      <%= turbo_frame_tag team do %>
        <%= render team %>  
      <% end %>
    <% end %>
  </div>

  <br>

  <%= link_to icon('plus') + " New team", new_team_path, class: 'button is-primary' %>
  <%= link_to icon('file-excel') + " Export Scores", export_scores_path, class: 'button is-info' %>
  <%= link_to icon('user-tie') + " Export GP Scores", export_gp_scores_path, class: 'button is-info' %>
</main>