<main>
<%= turbo_frame_tag @team do %>
<%= render @team %>
<% end %>

<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_path %>

  <%= button_to "Destroy this team", @team, method: :delete %>
</div>
</main>