<%= form_with(model: score) do |form| %>
  <% if score.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
        <% score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <%= form.label :score, class: 'label' %>
      <%= form.number_field :score, class: 'input' %>
    </div>

    <div class="column">
      <%= form.label :gp_score, class: 'label' %>
      <%= form.number_field :gp_score, class: 'input' %>
    </div>
  </div>

  <div>
    <%= form.submit 'OK', class: 'button is-success is-small' %>
  </div>
<% end %>
