<h1>Editing score</h1>

<%= turbo_frame_tag @score do %>
<%= render "form", score: @score %>
<% end %>

<br>

<div>
  <%= link_to "Show this score", @score %> |
  <%= link_to "Back to scores", scores_path %>
</div>
