<%= turbo_frame_tag 'match' do %>
  <div class="matchQueue">
    <span style="font-weight: bold;"><%= MatchQueue.first.name %></span>
    <span style="font-weight: bolder;">Match #<%= MatchQueue.first.number %></span>
  </div>
<% end %>