<%= turbo_frame_tag 'pit' do %>
  <div class="pitDisplay">
    <% Team.order(:number).to_a.each_slice(4).each do |row| %>
      <div class="columns is-align-items-center">
        <% row.each do |team| %>
          <div class="column is-2 has-text-right pr-4">
            <div class="num"><%= team.number %></div>
            <div class="name"><%= team.name %></div>
          </div>
          <div class="column is-1 pl-4">
            <div class="rank"><%= team.max || '-' %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>