<%= turbo_frame_tag 'scoreboard' do %>
  <div class="rankScroller">
    <% Ranker.new.teams.each_with_index do |team, rank| %>
      <div class="columns is-align-items-center team">
        <div class="column is-1 rank mr-4">#<%= rank + 1%></div>
        <div class="column">
          <div class="num"><%= team.number %></div>
          <div class="name"><%= team.name %></div>
        </div>
        <div class="column is-2">
          <%= team.round1.score > 0 ? team.round1.score : '-' %>
        </div>
        <div class="column is-2">
          <%= team.round2.score > 0 ? team.round2.score : '-' %>
        </div>
        <div class="column is-2">
          <%= team.round3.score > 0 ? team.round3.score : '-' %>
        </div>
      </div>  
    <% end %>
  </div>
<% end %>