<main id="scoreboardScroller">
  <%= turbo_stream_from 'scoreboard', style: 'position: absolute;' %>
  
  <%= render 'rankDisplay' %>
</main>
<%= turbo_stream_from 'match', style: 'position: absolute;' %>
<%= render 'matchQueue' %>

<script>
var translate = 0;
const windowHeight = window.innerHeight;
setInterval(() => {
    const tableHeight = document.getElementById("scoreboardScroller").getBoundingClientRect().height;
    document.getElementById("scoreboardScroller").style.transform = `translateY(${translate}px)`;
    translate--;
    if(translate <= (-1 * (tableHeight - 200))) {
        translate = windowHeight - 400;
    }
}, 33);

</script>