<main>
  <p>
  The following should be ready to copy & paste into the Robot Game Scores sheet of OJS.
  </p>
  <table>
    <% @teams.each do |team| %>
      <tr>
        <td><%= @ranks[team.number] %></td>
        <td><%= team.number %></td>
        <td><%= team.max < 0 ? 0 : team.max %></td>
        <td><%= team.round1.score > 0 ? team.round1.score : 0 %></td>
        <td><%= team.round2.score > 0 ? team.round2.score : 0 %></td>
        <td><%= team.round3.score > 0 ? team.round3.score : 0 %></td>
      </tr>
    <% end %>
  </table>
</main>