<main>
  <p>
  The following should be ready to copy & paste into the Core Values sheet of OJS.
  </p>
  <table>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.round1.gp_score > 0 ? team.round1.gp_score : 0 %></td>
        <td><%= team.round2.gp_score > 0 ? team.round2.gp_score : 0 %></td>
        <td><%= team.round3.gp_score > 0 ? team.round3.gp_score : 0 %></td>
      </tr>
    <% end %>
  </table>
</main>