<main class="has-text-centered">
  <div class="mt-6 mb-3 mx-4">
    <%= link_to icon('desktop') + " Scrolling Score Display", display_path, class: 'button is-primary is-large' %>
    <%= link_to icon('clipboard-list') + " Pit Display", pit_path, class: 'button is-light is-large' %>
  </div>

  <div class="mb-3 mx-4">
    <%= link_to icon('calculator') + " Official Score Calculator", 'https://eventhub.firstinspires.org/scoresheet', class: 'button is-success' %>
    <%= link_to icon('edit') + " Score Entry", teams_path, class: 'button is-info' %>
  </div>

  <div class="mb-3 mx-4">
    <%= link_to icon('hourglass-half') + " Queueing Status", edit_match_queue_path, class: 'button is-dark' %>
  </div>

  <div class="mb-6 mx-4">
    <%= link_to icon('file-excel') + " Export Scores", export_scores_path, class: 'button is-warning' %>
    <%= link_to icon('user-tie') + " Export GP Scores", export_gp_scores_path, class: 'button is-warning' %>
  </div>
</main>