<main id="pitDisplay">
  <%= turbo_stream_from 'pit', style: 'position: absolute;' %>
  
  <%= render 'pitDisplay' %>
</main>
<%= turbo_stream_from 'match', style: 'position: absolute;' %>
<%= render 'matchQueue' %>