<%= form_with(model: match_queue) do |form| %>
  <% if match_queue.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(match_queue.errors.count, "error") %> prohibited this match_queue from being saved:</h2>

      <ul>
        <% match_queue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number %>
  </div>

  <div class="mt-3">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
