<p style="color: green"><%= notice %></p>

<h1>Match queues</h1>

<div id="match_queues">
  <% @match_queues.each do |match_queue| %>
    <%= render match_queue %>
    <p>
      <%= link_to "Show this match queue", match_queue %>
    </p>
  <% end %>
</div>

<%= link_to "New match queue", new_match_queue_path %>
