<p style="color: green"><%= notice %></p>

<%= render @match_queue %>

<div>
  <%= link_to "Edit this match queue", edit_match_queue_path(@match_queue) %> |
  <%= link_to "Back to match queues", match_queues_path %>

  <%= button_to "Destroy this match queue", @match_queue, method: :delete %>
</div>
