// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

$primary: #0066b3;
$text: black;

// Update Bulma's global variables
$family-sans-serif: "Fira Sans", sans-serif;
$family-monospace: "Fira Mono", monospace;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';

body {
  background-color: $primary;
  padding: 1rem 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}



h1, h2, h3 {
  font-weight: bold;
}

h1 {
  @extend .is-size-1;
}

h2 {
  @extend .is-size-2;
}

.wheee {
  background-color: white;
  border-radius: 1em;
  box-shadow: 1em 1em 1em rgba(16,16,32,0.25);
  padding: 0.25em .5em;
}

.column {
  padding: 0.1rem .75rem;
}

main {
  @extend .wheee;
  width: 80vw;
}

.columns:last-child {
  margin-bottom: 0;
}

.columns {
  margin-top: 0;
}

code {
  color: $primary
}

table {
  width: 50%;
  margin: 1em;

  td {
    border: thin solid #999;
  }
}

body.scroller {
  flex-direction: column;
  font-size: 48px;

  main {
    border-radius: 0;
    padding: 1em;
  }

  .rankScroller {
    .team {
      margin-bottom: 2em;
    }
  };
}


.num {
  font-size: 48px;
  font-family: 'Fira Mono';
  font-weight: bold;
  line-height: 1;
}

.name {
  font-size: 28px;
  font-style: italic;
  line-height: 1;
}

.rank {
  font-size: 64px;
  font-weight: bold;
}

.matchQueue {
  position: absolute;
  bottom: 2rem;
  left: 15vw;
  width: 60vw;
  height: 6rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  box-shadow: 1em 1em 1em rgba(16,16,32,0.25);
  padding: 0.25em .5em;
  text-align: center;
  line-height: 1.0; 
  font-size: 48px; 
}